<div class="container">
  <h1 class="jumbotron-heading">Varal de Ideias</h1>
  <p class="lead text-muted">Somo nozes</p>
  <p>
    <a href="<%= products_path %>" class="btn btn-primary my-2">Produtos</a>  <!-- products_path refere-se ao helper da rota /products é ideal usá-lo caso alguem altere a rota /products por ex.-->
    <a href="#" class="btn btn-secondary my-2">Finanças</a>
  </p>
</div>
